<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
      <a class="float-right" [routerLink]="['/agencies',0,'edit']"> <mat-icon matTooltip="add" matTooltipPosition="below" >
        add_box
      </mat-icon> </a>
    </div>
    <div class='card-body'>  
     
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. mk" #input>
        
      </mat-form-field>
      <div class='table-responsive'>
        <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="agencyName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by agency"> Agency </th>
            <td mat-cell *matCellDef="let element"> <a [routerLink]="['/agencies',element.id]">{{element.agencyName}}</a>  </td>
          </ng-container>
        
          <!-- Code Column -->
          <ng-container matColumnDef="agencyCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
            <td mat-cell *matCellDef="let element"> {{element.agencyCode}} </td>
          </ng-container>
        
          <!-- Available Column -->
          <ng-container matColumnDef="available">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Available </th>
            <td mat-cell *matCellDef="let element"> <mat-icon class="green-color" *ngIf="element.available" matTooltip="available" matTooltipPosition="below" >
              check_circle
            </mat-icon>
             <mat-icon class="red-color" *ngIf="!element.available" matTooltip="unavailable" matTooltipPosition="below" >
              warning
            </mat-icon></td>
          </ng-container>
        
          <!-- Industry Column -->
          <ng-container matColumnDef="industry">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Industry </th>
            <td mat-cell *matCellDef="let element"> {{element.industry}} </td>
          </ng-container>
      
          <!-- Rating Column -->
          <ng-container matColumnDef="starRating">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
            <td mat-cell *matCellDef="let element">  <pm-star [rating]='element.starRating' (ratingClicked)='onRatingClicked($event)'></pm-star> </td>
          </ng-container>
          <!-- Edit Icon Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element"> <a [routerLink]="['/agencies',element.id,'edit']"> <mat-icon matTooltip="edit" matTooltipPosition="below" >
              edit
            </mat-icon> </a></td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>
      </div>
    </div>
  </div>
 
  <div *ngIf='errorMessage'
       class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>
  © 2022 Main MK, Inc.