thead{
    color:#337AB8
}
table {
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .red-color {
    color: red;
}
.green-color {
  color: green;
}
