<div div class ='card'>
  <div class ='card-header'>
    {{pageTitle}}
    <a class="float-right" [routerLink]="['/agencies',0,'edit']"> <mat-icon matTooltip="add" matTooltipPosition="below" >
      add_box
    </mat-icon> </a>
</div>
<div class="wizard">
  <a [routerLink]="['info']" routerLinkActive="active">
    Basic Information
  </a>
  <a [routerLink]="['tags']" routerLinkActive="active">
    Search Tags
  </a>
</div>
<router-outlet></router-outlet>
<div class="example-button-row">
  <button class="margin-10" mat-raised-button color="primary"(click)='onSave()'>Save</button>
  <button class="margin-10" mat-stroked-button color="primary" (click)='onCancel()'>Cancel</button>
  <button class="margin-10" mat-stroked-button color="warn" (click)="onDelete()">Delete</button>
</div>
</div>

