  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sideNav [opened] ="!smallScreen" [mode]="smallScreen ? 'over' :'side'" class="app-sidenav mat-elevation-z10">
    <mat-toolbar color="primary" class="app-sidenav-tool-bar">
     Easy Travel
   </mat-toolbar>
   <mat-list>
     <mat-list-item class='nav-link'> <a routerLinkActive='active' routerLink='/agencies' href="#">Agency List</a></mat-list-item>
   </mat-list>
 </mat-sidenav>

 <div class="app-sidenav-content">
  <pm-toolbar (toggleSidenav)="sideNav.toggle()"></pm-toolbar>

  <div class="wrapper">
    <router-outlet></router-outlet> 
  </div>
  
</div>
  </mat-sidenav-container>
  
  