<pm-sidenav></pm-sidenav>
<div class="card" *ngIf="showDefaultCard">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div  class="col-md-3">        
     
          </div>
          <div class="col-md-4 text-center">     <jqxBarGauge 
            class="text-center"
            [width]='700' [height]='700' [colorScheme]='"scheme02"'
            [max]='150' [values]='values' [tooltip]='tooltip'>
        </jqxBarGauge></div>
        <div  class="col-md-5">        
     
        </div>
        </div>
        
  
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>CJT</h3>
        </div>
  
        <div class="text-center">@CJT</div>      
      </div>
    </div>
  </div>